<html>
  <head>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>

  <canvas id="can" width="400" height="400" style="position:absolute;top:10%;left:10%;border:2px solid;"></canvas>
  <script type="text/javascript">
  var texts = [];
  var cursorSize = 5;
  
  canvas = document.getElementById('can');
  ctx = canvas.getContext("2d");
  w = canvas.width;
  h = canvas.height;
  canvas.addEventListener("mousedown", makeText, false);
  document.onkeypress = addText;
  document.onkeydown = checkBackspace;

  function drawCursor(text){
    let x = text[0][0];
    let y = text[0][1];
    ctx.beginPath();
    ctx.moveTo(x - cursorSize, y);
    ctx.lineTo(x + cursorSize, y);
    ctx.moveTo(x, y - cursorSize);
    ctx.lineTo(x, y + cursorSize);
    ctx.stroke();
  }
  
  function draw() {
    ctx.clearRect(0, 0, w, h);
    for (let text of texts){
      ctx.fillText(text[1], text[0][0], text[0][1]);
    }
    if (texts.length != 0){
      drawCursor(texts[texts.length-1]);
    }
  }
  
  function makeText(e) {
    texts.push([[e.clientX - canvas.offsetLeft, e.clientY - canvas.offsetTop], ""]);
    draw();
  }

  function checkBackspace(e){
    if (e.keyCode == 8 && texts.length>0 && (texts[texts.length-1][1]).length>0){
      let str = texts[texts.length-1][1];
      texts[texts.length-1][1] = str.substring(0, str.length - 1);
      draw();
    }
    if (e.keyCode == 32){
      e.preventDefault();
    }
  }

  function addText(e){
    if (texts.length == 0){
      return;
    }
    texts[texts.length-1][1] += String.fromCharCode(e.keyCode);
    draw();
  }
  
  </script>
</body></html>
